.foodsport{
    padding: 150px 0;
}
.foodsport-titile{
    font-weight: 600;
    font-size: x-large;
    padding: 25px;
    text-align: center;
}


.section-head{
    padding: 25px;
    font-size: x-large;
    font-weight: 900;
    text-align: center;
}